<html>
    <head>
        {% load staticfiles %}
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/prism.css" rel="stylesheet">

        <style type="text/css">
            /*body { margin: 30px; font family: sans serif; background: #fff; }
            h1 { background: #ccf; padding: 20px; }
            pre { padding: 20px; background: #ddd; }*/
        </style>

        <script language="javascript" src="/static/js/prism.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

          <div class="navbar-header">
            <a class="navbar-brand" href="/">Pastebin</a>
          </div>

          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  {% block active-menu %}
                      <li><a href="/add/">Create paste</a></li>
                  {% endblock %}
              </ul>

              {% if errors %}
                {% for error in errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
              {% endif %}
              <form action="" method="get" class="navbar-form navbar-right" role="search">
                  <input type="text" name="q">
                  <input type="submit" value="Search">
              </form>
          </div>
      </div>
    </nav>

    <div class="container">
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-2 col-md-offset-1">
              <div class="list-group">
                  <h4>Recently Pasted</h4>
                  <ol class="list-unstyled">
                      {% for object in object_list %}
                          <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
                      {% endfor %}
                  </ol>
              </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    </body>
</html>
